@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --White: hsl(0, 0%, 100%);
    }

*{
    padding: 0px;
    margin: 0px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-weight: 700;
    text-shadow: 1.5px 0 #000000;
}
/* 
@media screen and (min-width: 640px) {
    .faqHolder {
      width: 650px;
    }

    body{
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
  } */