@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#Main {
  background: #1f3756;
  background: radial-gradient(at center top, #1f3756, #131637);
}

/* 
@media screen and (min-width: 640px) {
    .faqHolder {
      width: 650px;
    }

    body{
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
  } */
